<div id="working-space" class="full">
	<div id="psd-preview">

	</div>
	<div id="psd-layer-list">
	</div>
</div>

<div id="msg-loading" class="msg">
	Loading
	<div class="spinner">
	  <div class="bounce1"></div>
	  <div class="bounce2"></div>
	  <div class="bounce3"></div>
	</div>
</div>

<div id="msg-start" class="msg">
	This is photoshop file viewer.</br>
	To start drop file or link here.</br>
	Also you can add hash to url with link.</br>
	Like this</br>
	<a href="{{siteUrl}}/#/samples/psd-with-layers.psd">
		{{siteUrl}}/#/samples/psd-with-layers.psd
	</a>
	</br>
	</br>
	<div class="credits">
		Having issues <a href="helpUrl">click here</a>.
		<a href="mailto:{{authorEmail}}">{{author}}</a>.
	</div>
</div>

<div id="msg-drop" class="msg">
	Drop file or link here.
</div>

<div id="msg-message" class="msg">
{{ message }}
</div>
